*.o
*.out
*.log
*.bin
*.a
*.so
*.exe

#构建目录
/build/
/bin/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake

# 数据文件
/data/
*.hdf5
*.bin

.vscode/
*.swp
*.swo
*.user
*.DS_Store
*.idea/
compile_commands.json

# 临时或调试文件
*.tmp
*.bak
*.old
core
*.prof


*.png
*.pdf

/Eigen/